main {
  max-width: 500px;
  margin: 30px auto 0;
  margin-bottom: 50vh;

  .image-container {
    padding-top: 56.25%;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    background: white;

    img {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }

  pre {
    border-radius: 4px;
    overflow: hidden;

    .hljs {
      padding: 15px;
    }

    ::-webkit-scrollbar {
      display: none;
      width: 0px;
    }

    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;

    font-size: 18px;
    line-height: 1.4;
  }
}

@media (max-width: 1000px) {
    main {
        .image-container {
            border-radius: 0;
        }

        > h1,
        article {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
