* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.4;
  color: #2c3e50;
}


body { 
  text-align: center;
  /* padding-top: 50px;
  padding-bottom: 50px;
  background: white; */
}

/* 
body > * {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
*/

footer nav li a:after,
header nav li a:after {
  content: ",";
}

footer nav li:last-of-type a:after,
header nav li:last-of-type a:after {
  content: "";
}

header,
footer,
body main {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

hr {
  background: blue;
  height: 4px;
  overflow: hidden;
}


main article * {
  font-size: 18px;
}

main article h1 { 
  font-size: 38px;
}

main article h2 { 
  font-size: 34px;
}

main article h3 { 
  font-size: 30px;
}

main article h4 { 
  font-size: 26px;
}

main article h5 { 
  font-size: 22px;
}

main article h6 { 
  font-size: 18px;
}

main article h1, 
main article h2, 
main article h3, 
main article h4, 
main article h5, 
main article h6 {
  font-weight: 900;
}

main {
  padding: 50px 0;
}

header {
  padding: 50px 0;
  background: url('/static/img/Artboard 5.svg');
  background-size: auto 125%;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer *,
header * {
  color: white !important;
}

body,
.blue-bg {
  background: blue;
}

.blue-bg:first-of-type {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.blue-bg:last-of-type {
  padding-bottom: 250px;
  box-shadow: 0 -2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.white-bg {
  background: white;
}

footer a,
header a {
  text-decoration: none;
}

footer a:hover,
header a:hover {
  text-decoration: underline;
}

header h2, 
footer h3, 
footer nav a,
header nav a {
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
}

footer nav a,
header nav a {
  margin: 0 2.5px;
}

footer ul li,
header ul li {
  display: inline-block;
}

main ul .image-container .text {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

main ul .image-container .text h3 {
  color: black;
  font-size: 38px;
  line-height: 42px;
  text-align: center;
  padding: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

img { 
  max-width: 100%;
  object-fit: cover;
  margin: 30px auto;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  border-radius: 4px;
  overflow: hidden;
}

.image-container {
  width: 100%;
  padding-top: 56.25%; 
  position: relative; 
  margin: 0 auto 30px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  border-radius: 4px;
  overflow: hidden;
  background-color: rgba(0,0,0,0.1);
}

main ul li:last-of-type .image-container {
  margin-bottom: 0;
}

.image-container img {
  margin: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

code { 
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 0 5px;
}

pre code {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
  padding: 15px;
  display: block;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

blockquote {
  font-size: 28px;
  display: block;
  border: blue solid 0;
  border-left-width: 4px;
  padding: 1px 15px; /* some weird css bug? Change to 1px -> 0px to see */
}

main article .desc p,
main article .desc > * {
  margin: 15px auto;
}

main article .desc > h1:first-of-type { 
  margin-top: 0;
}

main article .desc a {
  color: blue;
  text-decoration: none;
}

main article .desc a:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  footer,
  header {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  /*
  body {
    padding: 15px 0;
  }
  */

  hr {
    margin-left: 15px;
    margin-right: 15px;
  }

  main {
    padding: 15px;
    margin-bottom: 0;
  }

  main ul .image-container .text h3 {
    padding: 15px;
    font-size: 24px;
    line-height: 28px;
  }

  img { 
    margin: 15px auto;
  }

  .image-container {
    margin-bottom: 15px;
  }

  footer,
  header { 
    flex-direction: column;
    align-items: flex-start;
    background-position: right center;
    background: none;
    position: relative;
  }

  header:after {
    content: " ";
    z-index: 1;
    background: url('/static/img/Artboard 5.svg');
    background-size: auto 125%;
    background-position: center center;
    background-repeat: no-repeat;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }

  header > * {
    position: relative;
    z-index: 2;
  }

  footer nav li:first-of-type a,
  header nav li:first-of-type a {
    margin-left: 0;
  }
}
