<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ .Title }} | evanjon.es</title>
    {{ template "_head.html" }}
    <meta name="twitter:site" content="https://evanjon.es/" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:description" content="{{ .ShortDesc }}" />
    <meta name="description" content="{{ .ShortDesc }}" />
    <meta name="twitter:image:src" content="{{ .Image }}" />
  </head>
  <body>
    {{ template "_header.html" }}
    <main>
      <article>
        {{ if .Image }}
        <div>
          <div class="image-container">
            <img src="{{ .Image }}" alt="{{ .ImageAlt }}"/>
          </div>
        </div>
        {{ end }}
        <div class="desc">{{ .Desc }}</div>
      </article>
    </main>
    {{ template "_footer.html" }}
  </body>
</html>
