<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ .Title }} | evanjon.es</title>
    {{ template "_head.html" }}
    <meta name="twitter:site" content="https://evanjon.es/" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:description" content="{{ .ShortDesc }}" />
    <meta name="description" content="{{ .ShortDesc }}" />
    {{ if .Image }}
    <meta name="twitter:image:src" content="{{ .Image }}" />
    {{ end }}
  </head>
  <body>
    <div>
      {{ template "_header.html" }}
      <main>
        <article>
          {{ if .Title }}
          <div class="title">
            <center>
              <h1>{{ .Title }}</h1>
            </center>
          </div>
          {{ end }}
          {{ if .Image }}
          <div class="image-container">
            <img src="{{ .Image }}" alt="{{ .ImageAlt }}"/>
          </div>
          {{ end }}
          <div class="desc">{{ .Desc }}</div>
        </article>
      </main>
      {{ template "_footer.html" }}
      {{ template "_scripts.html" }}
    </div>
  </body>
</html>
