<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Posts | evanjon.es</title>
    {{ template "_head.html" }}
  </head>
  <body>
    <div>
      {{ template "_header.html" }}
      <main>
        <ul>
          {{ range . }}
          <li>
            <a href="/post/{{ .Slug }}/{{ .ID }}">
              <div>
                <div class="image-container">
                  <img src="{{ .Image }}" alt="{{ .ImageAlt }}"/>
                  <div class="text">
                    <h3>{{ .Title }}</h3>
                  </div>
                </div>
              </div>
            </a>
          </li>
          {{ end }}
        </ul>
      </main>
      {{ template "_footer.html" }}
      {{ template "_scripts.html" }}
    </div>
  </body>
</html>
